

<div>
    Select Set:
    <!--<select ng-model="selectSet" ng-change="changeSet()" ng-options="obj.name as obj.name for obj in CardSets">-->
    <select ng-model="CardSets.value"
            ng-options="k as v for (k, v) in CardSets.values"
            ng-change="changeSet()">
        <option value="">-- choose Set --</option>
    </select>
</div>

<hr />

<div class="clearfix">
    <ul class="list-group row cardslist">
        <!--<li class="list-group-item col-xs-12 col-sm-6 col-md-4 col-lg-4 delay_0_6 animated flipInY" ng-repeat="card in cards | limitTo:cardsLimit">-->
        <li class="list-group-item col-xs-12 col-sm-6 col-md-4 col-lg-4 delay_0_6 animated flipInY" ng-repeat="card in cards  | orderBy:'+cost'">
            <a class="cardDisplay">
                <div>
                    <div class="cards-tooltip">
                        <table width="100%">
                            <tr>
                                <td>{{card.name}}</td>
                                <td></td>
                                <td>{{card.type}}</td>
                            </tr>
                            <tr>
                                <td>{{card.cost}}</td>
                                <td>{{card.attack}}</td>
                                <td>{{card.health}}</td>
                            </tr>
                            <tr>
                                <td colspan="3">
                                    <p class="flavor">{{card.flavor }}</p>
                                </td>
                            </tr>
                            <tr></tr>
                            <tr></tr>
                            <tr></tr>
                        </table>
                    </div>


                    <div class="flip" ng-click="flipThis($event)">
                        <div class="card">
                            <div class="face front">
                                <img ng-src="http://wow.zamimg.com/images/hearthstone/cards/dede/medium/{{card.id  }}.png" err-src="assets/img/placeholder.png" class="" />
                            </div>
                            <div class="face back">
                                <h3>{{card.name}}</h3>
                                <h5>
                                    <b>Costs:</b> {{card.cost }}
                                </h5>
                                <h5>
                                    <b>Type:</b> {{card.type }}
                                </h5>
                                <!--<h4>{{card.rarity }}</h4>
                                <h4>{{card.faction }}</h4>
                                <h4>{{card.mechanics}}</h4>-->
                                <i>{{card.flavor }}</i>                              
                                <h5 ng-if='card.attack !== undefined'>
                                    <b>Attack:</b> {{card.attack }}
                                </h5>
                                <h5 ng-if='card.health !== undefined'>
                                    <b>Health:</b> {{card.health }}
                                </h5>
                                <h5 ng-if='card.artist !== undefined'>
                                    <b>Artist:</b> {{card.artist  }}
                                </h5>
                                <!--
                                <h4>{{card.attack  }}</h4>
                                <h4>{{card.health  }}</h4>
                                <h4>{{card.collectible  }}</h4>
                                <h4>{{card.id  }}</h4>
                                <h4>{{card.elite   }}</h4>-->
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </li>
    </ul>
</div>