/* app css stylesheet */

.menu {
    list-style: none;
    border-bottom: 0.1em solid black;
    margin-bottom: 2em;
    padding: 0 0 0.5em;
}

    .menu:before {
        content: "[";
    }

    .menu:after {
        content: "]";
    }

    .menu > li {
        display: inline;
    }

        .menu > li:before {
            content: "|";
            padding-right: 0.3em;
        }

        .menu > li:nth-child(1):before {
            content: "";
            padding: 0;
        }


.clear {
    clear: both;
}



.contributorlist {
    list-style: none;
    display: inline-block;
    width:100%;
}

    .contributorlist li {
        float: left;
        max-width: 150px;
        padding: 15px;
        width:10%;
        height:150px;
    }

        .contributorlist li a:hover {
            background-color: #4183C4;
            color:#dc3535;            
        }

        .contributorlist li a {
            height:inherit;
            text-align:center;
            width:100%;
            background-color: #38C895;
            color:#fff;
            display: inline-block;
            -webkit-transition: all 1000ms linear;
            -moz-transition: all 1000ms linear;
            -o-transition: all 1000ms linear;
            -ms-transition: all 1000ms linear;
            transition: all 1000ms linear;
        }
        .contributorlist li a img{
            vertical-align:bottom;
        }
